.searchBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: 2px 10px;
    padding: 12px;
    border-bottom: 2px solid rgb(86, 86, 86);
    position: fixed;
    top: -2px;
}

.searchBarInstagram {
    display: flex;
}

.fab {
    color: black;
    font-size: 32px;
    padding: 0 25px 0 15px;
    border-right: 1px solid rgb(114, 113, 113);
}

.instagramBrandName {
    padding: 0 0 0 25px;


}

.searchBarSearchForm > input {
    height: 20px;
    text-align: center;
    width: 180px;
    background-color: rgb(244, 244, 244);
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 4px;
    /* background-image: url(https://www.pinclipart.com/picdir/middle/15-157992_lens-clipart-magnifier-magnifying-glass-icon-grey-png.png) */
    
}

.searchBarSearchForm > button {
    height: 24px;
    border-left:none;
}

.searchBarRightIcons {
    padding: 0 30px 0 0 ;
}

.searchBarRightIcons > i {
    padding: 0 15px;
    color: rgb(95, 94, 94);
    font-size: 22px;
}




